Repository ffxivita/XIVITAGuide, changes with the labels that .github/labeler.yml gives for each.
All labels: changes | resources, changes | ci, changes | plugin, changes | assets, changes | docs

.github/labeler.yml:

changes | resources:
  - "XIVITAGuide/Resources/**/*"

changes | ci:
  - ".github/workflows/**/*"

changes | plugin:
  - "XIVITAGuide/**/*.cs"

changes | assets:
  - ".assets/**"

changes | docs:
  - "**.md"

Workflow File Linted
  .github/workflows/tag_release.yml
Labels: changes | ci

Update DevContainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: none

VSCode Folder
  .vscode/extensions.json
  .vscode/tasks.json
Labels: none

Plugin Config
  XIVITAGuide/Base/PluginConfig.cs
Labels: changes | plugin

CodeBase Clean
  XIVITAGuide/Base/PluginService.cs
  XIVITAGuide/IPC/Providers/Tippy.cs
  XIVITAGuide/IPC/Providers/Wotsit.cs
  XIVITAGuide/Localization/LocalizationStrings.cs
  XIVITAGuide/Managers/CommandManager.cs
  XIVITAGuide/Managers/WindowManager.cs
  XIVITAGuide/Types/Guide.cs
  XIVITAGuide/UI/ImGuiFullComponents/GuideSection/GuideSection.component.cs
  XIVITAGuide/UI/Windows/GuideList/GuideList.presenter.cs
  XIVITAGuide/UI/Windows/GuideViewer/GuideViewer.presenter.cs
  XIVITAGuide/UI/Windows/GuideViewer/GuideViewer.window.cs
Labels: changes | plugin

New Version
  XIVITAGuide/XIVITAGuide.csproj
  XIVITAGuide/XIVITAGuide.json
Labels: none

New Language Files
  XIVITAGuide/Base/PluginConstants.cs
  XIVITAGuide/Localization/LocalizationStrings.cs
  XIVITAGuide/Resources/Localization/Plugin/XIVITAGuide_Localizable.json
  XIVITAGuide/Resources/Localization/Plugin/en.json
  XIVITAGuide/Resources/Localization/Plugin/it.json
Labels: changes | resources, changes | plugin

Chore: Localization updates for %original_file_name% [no ci]
  XIVITAGuide/Resources/Localization/Plugin/XIVITAGuide_Localizable.json
Labels: changes | resources

Chore: Localization updates for XIVITAGuide_Localizable.json [no ci]
  XIVITAGuide/Resources/Localization/Plugin/it.json
Labels: changes | resources

Create it.json
  XIVITAGuide/Resources/Localization/Plugin/it.json
Labels: changes | resources

Version
  XIVITAGuide/XIVITAGuide.csproj
  XIVITAGuide/XIVITAGuide.json
Labels: none

Fixes
  XIVITAGuide/Base/PluginConstants.cs
  XIVITAGuide/Resources/Localization/Plugin/en.json
  XIVITAGuide/XIVITAGuide.csproj
  XIVITAGuide/XIVITAGuide.json
Labels: changes | resources, changes | plugin

Json Fixes
  XIVITAGuide/XIVITAGuide.json
Labels: none

Update Sastasha.json
  XIVITAGuide/Resources/Localization/Guide/v1/it/A Realm Reborn/Dungeons/Sastasha.json
Labels: changes | resources

Update Sastasha.json
  XIVITAGuide/Resources/Localization/Guide/v1/it/A Realm Reborn/Dungeons/Sastasha.json
Labels: changes | resources

Create FUNDING.yml
  .github/FUNDING.yml
Labels: none

Update BrayfloxsLongstop.json
  XIVITAGuide/Resources/Localization/Guide/v1/it/A Realm Reborn/Dungeons/BrayfloxsLongstop.json
Labels: changes | resources

Update pr_chores.yml
  .github/workflows/pr_chores.yml
Labels: changes | ci

Update pr_code_changes.yml
  .github/workflows/pr_code_changes.yml
Labels: changes | ci

Update XIVITAGuide.csproj
  XIVITAGuide/XIVITAGuide.csproj
Labels: none

Update pr_linter.yml
  .github/workflows/pr_linter.yml
Labels: changes | ci

Update tag_release.yml
  .github/workflows/tag_release.yml
Labels: changes | ci

Crowdin Update
  crowdin.yml
Labels: none

Italian Strings
  XIVITAGuide/Localization/LocalizationStrings.cs
  XIVITAGuide/XIVITAGuide.csproj
Labels: changes | plugin

Dalamud Lib Not Loading
  XIVITAGuide/XIVITAGuide.csproj
Labels: none

Workflow
  .github/workflows/tag_release.yml
Labels: changes | ci

Dotnet
  .github/workflows/tag_release.yml
  XIVITAGuide/XIVITAGuide.csproj
Labels: changes | ci

Dotnet
  XIVITAGuide/XIVITAGuide.csproj
Labels: none

Dotnet
  XIVITAGuide/XIVITAGuide.csproj
Labels: none

[LOC] Local Update
  XIVITAGuide/Resources/Localization/Plugin/XIVITAGuide_Localizable.json
Labels: changes | resources

Bump: Version
  XIVITAGuide/Base/PluginConstants.cs
  XIVITAGuide/XIVITAGuide.csproj
Labels: changes | plugin

Bump: Version
  XIVITAGuide/XIVITAGuide.csproj
Labels: none

(JSON) Packages
  XIVITAGuide/XIVITAGuide.json
Labels: none

Json
  XIVITAGuide/XIVITAGuide.json
Labels: none

Manifest
  XIVITAGuide/XIVITAGuide.json
Labels: none

Guide Update: Castrum Meridianum
  XIVITAGuide/Resources/Localization/Guide/v1/it/A Realm Reborn/Dungeons/CastrumMeridianum.json
Labels: changes | resources

chore(i18n): translations updates for %two_letters_code% [skip ci]
  XIVITAGuide/Resources/Localization/Plugin/XIVITAGuide_Localizable.json
Labels: changes | resources

chore(i18n): translations updates for %two_letters_code% [skip ci]
  XIVITAGuide/Resources/Localization/Guide/v1/it/A Realm Reborn/Dungeons/CastrumMeridianum.json
Labels: changes | resources

chore(i18n): translations updates for %two_letters_code% [skip ci]
  XIVITAGuide/Resources/Localization/Guide/v1/it/A Realm Reborn/Dungeons/ThePraetorium.json
Labels: changes | resources

New Command
  .github/workflows/repo.yml
  XIVITAGuide/XIVITAGuide.csproj
Labels: changes | ci
