Repository ffxivita/XIVITAGuide, changes with the labels that .github/labeler.yml gives for each.
All labels: changes | resources, changes | ci, changes | plugin, changes | assets, changes | docs

.github/labeler.yml:

changes | resources:
  - "src/Resources/**/*"

changes | ci:
  - ".github/workflows/**/*"

changes | plugin:
  - "src/**/*.cs"

changes | assets:
  - ".assets/**"

changes | docs:
  - "**.md"

chore(i18n): translations updates for %two_letters_code% [skip ci]
  XIVITAGuide/Resources/Localization/Guide/v1/it/A Realm Reborn/Dungeons/ThePraetorium.json
Labels: none

New Command
  .github/workflows/repo.yml
  XIVITAGuide/XIVITAGuide.csproj
Labels: changes | ci

New Automated Build
  .github/workflows/repo.yml
  XIVITAGuide/XIVITAGuide.csproj
Labels: changes | ci

Update repo.yml
  .github/workflows/repo.yml
Labels: changes | ci

Update repo.yml
  .github/workflows/repo.yml
Labels: changes | ci

AutoBuild Fixes
  XIVITAGuide/XIVITAGuide.csproj
Labels: none

New Version
  XIVITAGuide/XIVITAGuide.csproj
Labels: none

Update repo.yml
  .github/workflows/repo.yml
Labels: changes | ci

New Version
  XIVITAGuide/XIVITAGuide.csproj
Labels: none

New CI
  .github/workflows/repo.yml
Labels: changes | ci

New Version
  XIVITAGuide/XIVITAGuide.csproj
Labels: none

Update repo.yml
  .github/workflows/repo.yml
Labels: changes | ci

Lint Repo YML
  .github/workflows/repo.yml
Labels: changes | ci

Linter of CI File
  .github/workflows/repo.yml
Labels: changes | ci

New Renovate Config
  renovate.json
Labels: none

New Renovate Config
  renovate.json
Labels: none

New Renovate Config
  renovate.json
Labels: none

Renovate
  renovate.json
Labels: none

Renovate
  renovate.json
Labels: none

New Renovate Config
  renovate.json
Labels: none

Update CONTRIB.md
  CONTRIB.md
Labels: changes | docs

Update CONTRIB.md
  CONTRIB.md
Labels: changes | docs

chore(i18n): translations updates for %two_letters_code% [skip ci]
  XIVITAGuide/Resources/Localization/Guide/v1/it/A Realm Reborn/Dungeons/BrayfloxsLongstop_Hard.json
Labels: none

chore(i18n): translations updates for %two_letters_code% [skip ci]
  XIVITAGuide/Resources/Localization/Guide/v1/it/A Realm Reborn/Dungeons/AmdaporKeep_Hard.json
Labels: none

chore(i18n): translations updates for %two_letters_code% [skip ci]
  XIVITAGuide/Resources/Localization/Guide/v1/it/A Realm Reborn/Dungeons/CopperbellMines.json
Labels: none

chore(i18n): translations updates for %two_letters_code% [skip ci]
  XIVITAGuide/Resources/Localization/Guide/v1/it/A Realm Reborn/Dungeons/CopperbellMines_Hard.json
Labels: none

Update guide_issue_report.yaml
  .github/ISSUE_TEMPLATE/guide_issue_report.yaml
Labels: none

Update guide_issue_report.yaml
  .github/ISSUE_TEMPLATE/guide_issue_report.yaml
Labels: none

Update bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: none

Update bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: none

Update bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: none

chore(i18n): translations updates for %two_letters_code% [skip ci]
  XIVITAGuide/Resources/Localization/Guide/v1/it/A Realm Reborn/Dungeons/DzemaelDarkhold.json
Labels: none

chore(i18n): translations updates for %two_letters_code% [skip ci]
  XIVITAGuide/Resources/Localization/Guide/v1/it/A Realm Reborn/Dungeons/CuttersCry.json
Labels: none

chore(i18n): translations updates for %two_letters_code% [skip ci]
  XIVITAGuide/Resources/Localization/Guide/v1/it/A Realm Reborn/Dungeons/Halatali.json
Labels: none

Cosmetics: Corrected Typo
  XIVITAGuide/Resources/Localization/Guide/v1/it/A Realm Reborn/Dungeons/CuttersCry.json
Labels: none

chore(i18n): translations updates for %two_letters_code% [skip ci]
  XIVITAGuide/Resources/Localization/Guide/v1/it/A Realm Reborn/Dungeons/Sastasha.json
Labels: none

chore(i18n): translations updates for %two_letters_code% [skip ci]
  XIVITAGuide/Resources/Localization/Guide/v1/it/A Realm Reborn/Dungeons/Halatali_Hard.json
Labels: none

chore(i18n): translations updates for %two_letters_code% [skip ci]
  XIVITAGuide/Resources/Localization/Guide/v1/it/A Realm Reborn/Dungeons/CuttersCry.json
Labels: none

chore: Update ReadMe
  README.md
Labels: changes | docs

chore(i18n): translations updates for %two_letters_code% [skip ci]
  XIVITAGuide/Resources/Localization/Guide/v1/it/A Realm Reborn/Dungeons/HaukkeManor.json
Labels: none
