Repository ffxivita/XIVITAGuide, changes with the labels that .github/labeler.yml gives for each.
All labels: changes | resources, changes | ci, changes | plugin, changes | assets, changes | docs

chore(i18n): translations updates for %two_letters_code% [skip ci]
  XIVITAGuide/Resources/Localization/Guide/v1/it/A Realm Reborn/Dungeons/TheKeeperoftheLake.json
Labels: changes | resources

New Dev Version
  XIVITAGuide/.editorconfig
  XIVITAGuide/Attributes/CommonAttributes.cs
  XIVITAGuide/Base/PluginConfig.cs
  XIVITAGuide/Base/PluginConstants.cs
  XIVITAGuide/Base/PluginService.cs
  XIVITAGuide/IPC/IPCLoader.cs
  XIVITAGuide/IPC/IPCProvider.cs
  XIVITAGuide/IPC/Interfaces/IIPCProvider.cs
  XIVITAGuide/IPC/Providers/Wotsit.cs
  XIVITAGuide/Localization/LocalizationStrings.cs
  XIVITAGuide/Managers/CommandManager.cs
  XIVITAGuide/Managers/GuideManager.cs
  XIVITAGuide/Managers/ResourceManager.cs
  XIVITAGuide/Managers/WindowManager.cs
  XIVITAGuide/Types/Guide.cs
  XIVITAGuide/Types/Note.cs
  XIVITAGuide/UI/ImGuiBasicComponents/Badges.cs
  XIVITAGuide/UI/ImGuiBasicComponents/Colours.cs
  XIVITAGuide/UI/ImGuiBasicComponents/Common.cs
  XIVITAGuide/UI/ImGuiFullComponents/GuideListTable/GuideListTable.component.cs
  XIVITAGuide/UI/ImGuiFullComponents/GuideListTable/GuideListTable.presenter.cs
  XIVITAGuide/UI/ImGuiFullComponents/GuideSection/GuideSection.component.cs
  XIVITAGuide/UI/ImGuiFullComponents/GuideSection/GuideSection.presenter.cs
  XIVITAGuide/UI/ImGuiFullComponents/IPCProviderCombo/IPCProviderCombo.component.cs
  XIVITAGuide/UI/ImGuiFullComponents/IPCProviderCombo/IPCProviderCombo.presenter.cs
  XIVITAGuide/UI/ImGuiFullComponents/MechanicHiderCombo/MechanicHiderCombo.component.cs
  XIVITAGuide/UI/ImGuiFullComponents/MechanicHiderCombo/MechanicHiderCombo.presenter.cs
  XIVITAGuide/UI/ImGuiFullComponents/MechanicTable/MechanicTable.component.cs
  XIVITAGuide/UI/ImGuiFullComponents/MechanicTable/MechanicTable.presenter.cs
  XIVITAGuide/UI/Windows/Editor/Editor.presenter.cs
  XIVITAGuide/UI/Windows/Editor/Editor.window.cs
  XIVITAGuide/UI/Windows/GuideList/GuideList.presenter.cs
  XIVITAGuide/UI/Windows/GuideList/GuideList.window.cs
  XIVITAGuide/UI/Windows/GuideViewer/GuideViewer.presenter.cs
  XIVITAGuide/UI/Windows/GuideViewer/GuideViewer.window.cs
  XIVITAGuide/UI/Windows/Settings/Settings.presenter.cs
  XIVITAGuide/UI/Windows/Settings/Settings.window.cs
  XIVITAGuide/Utils/Guides.cs
  XIVITAGuide/Utils/Notifications.cs
Labels: changes | plugin

Plural Names
  XIVITAGuide/Attributes/CommonAttributes.cs
  XIVITAGuide/Types/Guide.cs
  XIVITAGuide/XIVITAGuide.csproj
  XIVITAGuide/packages.lock.json
Labels: changes | plugin

Code Cleaning
  XIVITAGuide/Base/PluginConfig.cs
  XIVITAGuide/IPC/IPCLoader.cs
  XIVITAGuide/IPC/IPCProvider.cs
  XIVITAGuide/IPC/Interfaces/IIPCProvider.cs
  XIVITAGuide/IPC/Providers/Wotsit.cs
  XIVITAGuide/Managers/GuideManager.cs
  XIVITAGuide/Managers/WindowManager.cs
  XIVITAGuide/Types/Note.cs
  XIVITAGuide/UI/ImGuiFullComponents/IPCProviderCombo/IPCProviderCombo.component.cs
  XIVITAGuide/UI/Windows/GuideList/GuideList.window.cs
  XIVITAGuide/UI/Windows/GuideViewer/GuideViewer.presenter.cs
Labels: changes | plugin

Udated Workflows
  .github/workflows/pr_chores.yml
  .github/workflows/pr_code_changes.yml
  .github/workflows/pr_json_changes.yml
  .github/workflows/pr_linter.yml
  .github/workflows/tag_release.yml
Labels: changes | ci

.github/labeler.yml:

changes | resources:
  - "XIVITAGuide/Resources/**/*"

changes | ci:
  - ".github/workflows/**/*"

changes | plugin:
  - "XIVITAGuide/**/*.cs"

changes | assets:
  - ".assets/**"

changes | docs:
  - "**.md"
